module-name: compass-manager
kind: kcp
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/compass-manager:1.0.13
mend:
  language: golang-mod
  exclude:
    - "**/*_test.go"
checkmarx-one:
    preset: go-default
    exclude:
        - '**/*_test.go'
