---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: compassmanagermappings.operator.kyma-project.io
spec:
  group: operator.kyma-project.io
  names:
    kind: CompassManagerMapping
    listKind: CompassManagerMappingList
    plural: compassmanagermappings
    singular: compassmanagermapping
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: CompassManagerMapping is the Schema for the compassmanagermappings
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CompassManagerMappingSpec defines the desired state of CompassManagerMapping
            type: object
          status:
            description: CompassManagerMappingStatus defines the observed state of
              CompassManagerMapping
            properties:
              configured:
                type: boolean
              registered:
                type: boolean
              state:
                type: string
            required:
            - configured
            - registered
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
